spring:
  datasource:
    url: jdbc:mysql://localhost:3306/trust?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 12345678

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always